@charset "UTF-8";

/* default */
body,html {height:99.99%}
html {overflow-y:scroll;}
body {font-family:'나눔바른고딕','NanumBarunGothic','나눔고딕','NanumGothic','맑은 고딕','MalgunGothic',sans-serif; font-size:13px; color:#000; -webkit-font-smoothing:antialiased; -webkit-text-size-adjust:none; -moz-osx-font-smoothing:grayscale;}
body, p, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, div, table, th, td, form, fieldset, legend, input, textarea, button, select, pre, code {margin:0; padding:0; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; -o-box-sizing:border-box; -ms-box-sizing:border-box; box-sizing:border-box;}
input, textarea, select, button, table {font-family:'나눔바른고딕','NanumBarunGothic','나눔고딕','NanumGothic','맑은 고딕','MalgunGothic',sans-serif; font-size:13px; color:#000; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; -o-box-sizing:border-box; -ms-box-sizing:border-box; box-sizing:border-box;}
a, p, span, strong, em, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, div {line-height:1em}
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {display:block; margin:0; padding:0; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; -o-box-sizing:border-box; -ms-box-sizing:border-box; box-sizing:border-box;}
code, pre{font-family:'나눔바른고딕','NanumBarunGothic','나눔고딕','NanumGothic','맑은 고딕','MalgunGothic',sans-serif}
img, fieldset {border:0; vertical-align:middle}
iframe, button {border:0}
ul, ol {list-style:none}
/* legend, caption, hr {display:none} */
legend, caption, hr {height:1px;overflow:hidden;font-size:0em;line-height:0em;text-indent:-9999px;width:0;margin:-1px 0 0 0;position:relative;top:-1px;}
table {border-collapse:collapse; border-spacing:0}
a {text-decoration:none; font-family:'나눔바른고딕','NanumBarunGothic','나눔고딕','NanumGothic','맑은 고딕','MalgunGothic',sans-serif; color:#000}
a:hover, a:active, a:focus {}

/* form element */
/* radio, checkbox */
input[type="checkbox"],
input[type="radio"] {display:inline-block; width:13px; height:13px; vertical-align:middle; margin-right:3px}
/* select, input text */
select,
input[type="text"],
input[type="password"] {display:inline-block; height:35px; line-height:33px; padding:0 9px; border:1px solid #ccc; vertical-align:middle}
input[type="text"].input-datepicker {width:130px; background:#fff url(/images/ico-datepicker.gif) right 50% no-repeat}
.read-only {background-color:#f7f7f7}
/*
::-webkit-input-placeholder {color:#333;}
:-moz-placeholder {color:#333;}
::-moz-placeholder {color:#333;}
:-ms-input-placeholder {color:#333;}
*/
input.placeholder,
textarea.placeholder {color:#333;}
select {padding:0 25px 0 9px}
textarea {display:block; width:100%; line-height:1.333em; padding:15px 14px; border:1px solid #ccc;}
.wrap-file {position:relative}
.wrap-file input[type="file"] {position:absolute; left:0; top:0; height:100%; width:100%; opacity:0}
.wrap-file input[type="text"] {width:100%}

/* button and */
[class*="btn-"] {display:inline-block; height:35px; line-height:34px; min-width:90px; text-align:center; padding:0 10px; vertical-align:middle; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; -o-box-sizing:border-box; -ms-box-sizing:border-box; box-sizing:border-box;}
[class*="btn-"].l {height:43px; line-height:42px; padding:0 20px}
[class*="btn-"].download span {padding-left:25px; font-weight:bold; background:url(/images/btn-download-red.png) 0 50% no-repeat}
[class*="btn-"].go span {padding-right:21px; font-weight:bold; background:url(/images/btn-go-w.png) 100% 50% no-repeat}
.btn-b {color:#fff; background:#000; border:1px solid #000}
.btn-w {background:#fff; border:1px solid #000}
.btn-bl {color:#fff; background:#186bb9; border:1px solid #186bb9}
.btn-dg {color:#fff; background:#333; border:1px solid #333}
.btn-g {color:#fff; background:#666; border:1px solid #666}
.btns-submit {text-align:center; margin-top:25px}
.btns-submit [class*="btn"] {margin:0 7px}
.btns-submit:after {content:""; display:block; clear:both}
.btns-submit .flex {float:left}
.btns-submit .flex ~ .flex {padding-left:10px}
.btns-submit .flex [class*="btn-"] {margin:0 0 0 0; width:100%}
.btns-submit .more {display:inline-block; margin-top:-5px; padding-top:35px; background:url(/images/btn-more.png) 50% 0 no-repeat}
.btns-submit .left {float:left; text-align:left}
.btns-submit .left > *{margin:0 6px 0 0}
.btns-submit .right {float:right; text-align:right}
.btns-submit .right > *{margin:0 0 0 6px}
.btns-submit .right .text-guide {display:inline-block; margin-right:5px}
.link {display:inline-block; white-space:nowrap; padding-right:17px; background:url(/images/btn-go2.png) 100% 50% no-repeat}
.link strong {text-decoration:underline}

/* data table, data list, board */
/* common */
table {width:100%}
table tr th .hidden {position:absolute; left:-9999em}
/* data, row */
table.data-row {border-top:1px solid #bbb; border-bottom:1px solid #bbb}
table.data-row tr ~ tr th,
table.data-row tr ~ tr td {border-top:1px solid #ddd}
table.data-row th {padding:15px 0; background:#f7f7f7; text-align:center}
table.data-row td {/* height:40px; */ height:65px; padding:15px}
table.data-row td input[type="text"] + input[type="checkbox"],
table.data-row td input[type="text"] + input[type="radio"],
table.data-row td input[type="password"] + input[type="checkbox"],
table.data-row td input[type="password"] + input[type="radio"] {margin-left:11px}
table.data-row td input[type="text"] + [class*="btn-"] {margin-left:6px}
table.data-row td .row:after {content:""; display:block; clear:both}
table.data-row td .flex {float:left}
table.data-row td .flex ~ .flex {padding-left:10px}
table.data-row td .flex input[type="text"],
table.data-row td .flex input[type="password"] {width:100%}
table.data-row td .flex [class*="btn-"] {width:100%; padding:0 0 0 0}
table.data-row td p.guide {line-height:1.57em; margin-top:6px}
table.data-row th .req {display:inline-block; width:12px; height:15px; background:url(/juso_support_center/images/Dev/ico-required.png) 0 50% no-repeat; vertical-align:text-top; margin-right:6px; text-indent:-9999px}
table.data-row .attach {display:inline-block; line-height:16px; padding-left:27px; background:url(/images/ico-attach.png) 0 50% no-repeat} /* 20160720 추가 */
table.data-row .content {padding:5px 0} /* 20160720 추가 */
table.data-row .content p {line-height:1.57em} /* 20160720 추가 */
table.data-row .content p ~ p {margin-top:20px} /* 20160720 추가 */
/* 20160808 추가 */
table.data-row2 {border-top:1px solid #ddd}
table.data-row2 tbody tr th,
table.data-row2 tbody tr td {border-right:1px solid #ddd; border-bottom:1px solid #ddd; height:49px; padding:0 0 0 0; text-align:center}
table.data-row2 tbody tr td:last-child {border-right:0}
table.data-row2 tbody tr td {position:relative}
table.data-row2 tbody tr td .hover {position:relative; height:100%}
table.data-row2 tbody tr td .hover div {position:absolute; left:-1px; top:-1px; right:-1px; bottom:-1px; border:1px solid #ddd; line-height:49px}
table.data-row2 tbody tr td:last-child .hover div {border-right:0}
table.data-row2 tbody tr td .hover:hover div {border-color:#1661a7; z-index:1}
table.data-row2 tbody tr td .hover div a {display:inline-block; white-space:nowrap; line-height:20px; padding-left:29px; background:url(/images/btn-download-data.png) 0 50% no-repeat}


/* date col */
table.data-col {table-layout:fixed; border-top:1px solid #000}
table.data-col thead tr th,
table.data-col tbody tr td {height:39px; padding:10px 0 11px; border-bottom:1px solid #000}
table.data-col thead tr th {border-bottom:1px solid #000}
table.data-col tbody tr td {border-bottom:1px solid #ddd; text-align:center; line-height:1.1em}
table.data-col tbody tr td.subj {text-align:left; }
table.data-col tbody tr td.subj p {white-space:nowrap; overflow:hidden; line-height:1.1em}
table.data-col tbody tr.notice td {background:#f5f5f5}
table.data-col tbody tr.notice td.subj p a {font-weight:bold}
table.article-view {border-top:1px solid #000}
table.article-view th,
table.article-view td {text-align:left; border-bottom:1px solid #bbb; padding:21px 0; height:59px}
table.article-view th {padding-left:20px}
table.article-view thead tr th,
table.article-view thead tr td {border-bottom:1px solid #ddd}
table.article-view thead tr th {font-weight:normal}
table.article-view thead tr:last-child th,
table.article-view thead tr:last-child td {border-bottom:1px solid #000}
table.article-view tbody tr th {/* background:#f7f7f7 */}
table.article-view tbody tr td .content {padding:15px 20px}
table.article-view tbody tr td .content p {line-height:1.57em}
table.article-view tbody tr td .content p ~ p {margin-top:17px}
table.article-view .attach {display:inline-block; line-height:16px; padding-left:27px; background:url(/images/ico-attach.png) 0 50% no-repeat}
table.article-reply thead tr th,
table.article-reply thead tr td,
table.article-reply thead tr:last-child th,
table.article-reply thead tr:last-child td {border-top:1px solid #186bb9; border-bottom:1px solid #186bb9}
table.article-reply thead tr th {border-left:1px solid #186bb9; padding-left:30px}
table.article-reply thead tr td {border-right:1px solid #186bb9; padding-right:30px}
table.article-reply tbody tr td {border-left:1px solid #bbb; border-right:1px solid #bbb}
table.article-reply tbody tr td .content {padding:9px 30px}

/* search */
/* board search */
.search-data {margin-top:30px; padding:29px; border:1px solid #999; text-align:center}
.search-data label {margin-right:6px; font-weight:bold}
.search-data input[type='text'] {width:400px; margin-right:6px}

/* nav, tab */
.paginate {margin-top:30px; text-align:center}
.paginate > *{display:inline-block; padding:0 3px; min-width:31px; height:31px; line-height:31px; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; -o-box-sizing:border-box; -ms-box-sizing:border-box; box-sizing:border-box; vertical-align:middle;}
.paginate strong {color:#fff; border:1px solid #186bb9; background:#186bb9}
.paginate a:hover,
.paginate a:focus {border:1px solid #ccc}
.paginate .skip {padding:0; text-align:left; font-size:0; color:#fff; border:1px solid #ccc}
.paginate .skip.prev {margin-right:18px; background:url(/images/btn-paginate-prev.png) 50% 50% no-repeat}
.paginate .skip.prev10 {background:url(/images/btn-paginate-prev10.png) 50% 50% no-repeat}
.paginate .skip.next {margin-left:18px; background:url(/images/btn-paginate-next.png) 50% 50% no-repeat}
.paginate .skip.next10 {background:url(/images/btn-paginate-next10.png) 50% 50% no-repeat}

/* text */
.tit-bul {margin-bottom:19px; font-size:18px; font-weight:bold; padding-left:13px; background:url(/images/bul-6x6-circle.png) 0 50% no-repeat}
.appr {color:#1661a7}
.list-text li {padding-left:8px; line-height:1.57em; background:url(/images/bul-3x3-circle.png) 0 0.6em no-repeat}
.list-text li.emp {background:url(/images/bul-3x3-circle-red.png) 0 0.6em no-repeat}
.list-text li ~ li {margin-top:3px}
.list-text li strong,
.list-text li strong a {color:#df1919}
.list-text-l > li {font-size:18px; font-weight:bold; line-height:1.444em; padding-left:13px; background:url(/images/bul-5x5-circle.png) 0 6px no-repeat}
.list-text-l > li ~ li {margin-top:12px}
.list-text-l > li ul {margin-top:12px}
.list-text-l > li ul li {font-size:13px; font-weight:normal}
.text-guide {padding-left:8px; line-height:1.57em; background:url(/images/bul-3x3-circle.png) 0 0.6em no-repeat}

/* box */
.bx-code .head {border:1px solid #186bb9; padding:20px}
.bx-code .head:after {content:""; display:block; clear:both}
.bx-code .head > strong {float:left}
.bx-code .head > a {float:right; padding-left:25px; background:url(/images/btn-download-blue.png) 0 50% no-repeat; font-weight:bold; text-decoration:underline}
.bx-code .cont {border:1px solid #bbb; border-top:0 none; background:#f7f7f7; padding:30px; line-height:1.57em; height:220px; overflow:hidden}
.bx-code .cont *{font-family: '나눔바른고딕','NanumBarunGothic','나눔고딕','NanumGothic','맑은 고딕','MalgunGothic',sans-serif;}
.bx-code .cont.open {overflow:auto; height:auto}

/* etc */
/* link list */
.list-links li {border:1px solid #ccc}
.list-links li:after {content:""; display:block; clear:both}
.list-links li ~ li {margin-top:-1px}
.list-links li:hover {border-color:#186bb9; position:relative; z-index:1}
.list-links li .tbl {display:table; width:100%}
.list-links li .tbl .row {display:table-row}
.list-links li .tbl .row .cell {display:table-cell; padding:18px 0 17px; height:79px; vertical-align:middle}
.list-links li .cell .go {display:inline-block; width:33px; height:33px; vertical-align:middle; text-align:left; text-indent:-9999px; border:1px solid #000; background:url(/images/btn-go.png) 50% 50% no-repeat}

.group-fold article ~ article {margin-top:-1px}
.group-fold article header {position:relative; border:1px solid #ccc; padding:21px 70px 21px 30px}
.group-fold article header:after {content:""; display:block; clear:both}
.group-fold article header h3 {margin-bottom:0 !important}
.group-fold article header h3,
.group-fold article header h3 *{font-size:14px !important}
.group-fold article header h3 strong {color:#186bb9; padding-right:6px}
.group-fold article header .toggle {position:absolute; right:22px; top:50%; margin-top:-15px; width:30px; height:30px; cursor:pointer; background:url(/images/btn-fold.png) 50% 50% no-repeat; text-indent:-9999px}
.group-fold article .content {padding-bottom:30px; display:none}
.group-fold article .content .inner {padding:28px 30px; border:1px solid #bbb; border-top:0 none; background:#f7f7f7}
.group-fold article .content .inner p {line-height:1.57em}
.group-fold article .content .inner p ~ p {margin-top:17px}
.group-fold article.open header {border-color:#186bb9}
.group-fold article.open header .toggle {background:url(/images/btn-fold-open.png) 50% 45% no-repeat}
.text-code {border:1px solid #bbb; background:#ececec; padding:28px 30px; line-height:1.57em}
.text-code *{font-family: '나눔바른고딕','NanumBarunGothic','나눔고딕','NanumGothic','맑은 고딕','MalgunGothic',sans-serif; line-height:1.57em}
.bx-process {display:table; width:100%; border:1px solid #bbb; background:#fbfbfb}
.bx-process ul {display:table-row}
/* .bx-process ul li {display:table-cell; position:relative; width:25%; height:173px; padding:125px 0 28px; font-size:16px; font-weight:bold; line-height:1.5em; text-align:center} */
.bx-process ul li {display:table-cell; position:relative; width:25%; padding:125px 0 28px; font-size:16px; font-weight:bold; line-height:1.5em; text-align:center}
.bx-process-step6 ul li {width:16.66%}
.bx-process ul li ~ li {border-left:1px solid #bbb}
.bx-process ul li ~ li:after {content:""; position:absolute; left:-15px; top:50%; margin-top:-15px; width:30px; height:30px; background:url(/images/ico-process-next.png)}

/* pop */
.pop-layer-wrapper {position:fixed; z-index:20; left:0; top:0; right:0; bottom:0}
.pop-layer {position:absolute; z-index:10; left:50%; top:50%; margin:-200px 0 0 -445px; width:890px; background:#fff; border:1px solid #000; -webkit-box-shadow: 5px 5px 12px -2px rgba(0,0,0,0.36); -moz-box-shadow: 5px 5px 12px -2px rgba(0,0,0,0.36); box-shadow: 5px 5px 12px -2px rgba(0,0,0,0.36);}
.pop-layer .pop-layer-header {position:relative}
.pop-layer .pop-layer-header .close {position:absolute; right:25px; top:50%; margin-top:-12px; width:24px; height:24px; background:url(/images/btn-close-pop.png) 50% 50% no-repeat; text-indent:-9999px}
.pop-layer .pop-layer-header {padding:20px 30px; background:#333}
.pop-layer .pop-layer-header h2 {font-size:20px; font-weight:normal; color:#fff}
.pop-layer .pop-layer-body {padding:30px}
.pop-layer .pop-layer-body .paginate {margin-top:20px}
.pop-layer .pop-layer-body .guide-and {margin-top:19px}
.pop-layer .pop-layer-body .guide-and:after {content:""; display:block; clear:both}
.pop-layer .pop-layer-body .guide-and .text-guide {float:left}
.pop-layer .pop-layer-body .guide-and .link {float:right}
.pop-layer .pop-layer-body .body-cal {display:table; width:100%; border-top:1px solid #ddd; border-bottom:1px solid #ddd}
.pop-layer .pop-layer-body .body-cal .row {display:table-row}
.pop-layer .pop-layer-body .body-cal .cell {display:table-cell; text-align:center; padding:19px 6px}
.pop-layer .pop-layer-body .body-cal .cell:first-child {padding-left:0}
.pop-layer .pop-layer-body .body-cal .cell:last-child {padding-right:0}
.pop-layer .pop-layer-body .body-cal .cell a {color:#186bb9; font-weight:bold}
.pop-layer .pop-layer-body .head-cal {text-align:center; padding-bottom:24px}
.pop-layer .pop-layer-body .head-cal *{display:inline-block; vertical-align:middle}
.pop-layer .pop-layer-body .head-cal h3 {font-size:26px; font-weight:normal; padding-top:2px}
.pop-layer .pop-layer-body .head-cal .move {width:11px; height:19px; text-align:left; text-indent:-9999px; background:url(/images/btn-move-month.png) 0 50% no-repeat}
.pop-layer .pop-layer-body .head-cal .prev {margin-right:16px}
.pop-layer .pop-layer-body .head-cal .next {margin-left:16px; background-position:100% 50%}

